.grid > div {
    display: flex;
    align-items: stretch;
    height: max-content;
    flex: 1;
}

.grid > div > div {
    flex: 1;
    background-color: white;
}

.grid {
    border: 1px black solid;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    background-color: black;
}